<div 
    class="fixed left-0 top-0 w-64 h-full bg-[#f8f4f3] p-4 z-50 sidebar-menu transition-transform"
    [ngClass]="{'-translate-x-full': !isOpen, 'translate-x-0': isOpen}"
    >
    <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">

        <h2 class="font-bold text-2xl">RESERV <span class="bg-blue-400 text-white px-2 rounded-md">APP</span></h2>
    </a>
    <ul class="mt-4">
        <!-- <span class="text-gray-400 font-bold">ADMIN</span> -->
        <li class="mb-1 group">
            <a routerLink="/dashboard"
                routerLinkActive="bg-blue-500 text-white"
                class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md">
                <i class="ri-home-2-line mr-3 text-lg"></i>
                <span class="text-sm">Dashboard</span>
            </a>
        </li>
        <li class="mb-1 group">
            <a routerLink="/user"
                routerLinkActive="bg-blue-500 text-white"
                class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
                <i class='bx bx-user mr-3 text-lg'></i>                
                <span class="text-sm">Usuarios</span>
                <i class="ri-arrow-right-s-line ml-auto group-[.selected]:rotate-90"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.selected]:block">
                <li class="mb-4">
                    <a href="" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">All</a>
                </li> 
                <li class="mb-4">
                    <a href="" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">Roles</a>
                </li> 
            </ul>
        </li>
        <li class="mb-1 group">
            <a routerLink="/space"
                routerLinkActive="bg-blue-500 text-white"
                class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md">
                <i class="ri-home-2-line mr-3 text-lg"></i>
                <span class="text-sm">Espacios</span>
            </a>
        </li>
        <li class="mb-1 group">
            <a routerLink="/dashboard"
                routerLinkActive="bg-blue-500 text-white"
                class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md">
                <i class="ri-home-2-line mr-3 text-lg"></i>
                <span class="text-sm">Reservas</span>
            </a>
        </li>

        <!-- <span class="text-gray-400 font-bold">BLOG</span>
        <li class="mb-1 group">
            <a href="" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
                <i class='bx bxl-blogger mr-3 text-lg' ></i>                 
                <span class="text-sm">Post</span>
                <i class="ri-arrow-right-s-line ml-auto group-[.selected]:rotate-90"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.selected]:block">
                <li class="mb-4">
                    <a href="" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">All</a>
                </li> 
                <li class="mb-4">
                    <a href="" class="text-gray-900 text-sm flex items-center hover:text-[#f84525] before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">Categories</a>
                </li> 
            </ul>
        </li>
        <li class="mb-1 group">
            <a href="" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md">
                <i class='bx bx-archive mr-3 text-lg'></i>                
                <span class="text-sm">Archive</span>
            </a>
        </li> -->

        <!-- <span class="text-gray-400 font-bold">PERSONAL</span>
        <li class="mb-1 group">
            <a href="" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md">
                <i class='bx bx-bell mr-3 text-lg' ></i>                
                <span class="text-sm">Notifications</span>
                <span class=" md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-600 bg-red-200 rounded-full">5</span>
            </a>
        </li>
        <li class="mb-1 group">
            <a href="" class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-blue-500 hover:text-gray-100 rounded-md">
                <i class='bx bx-envelope mr-3 text-lg' ></i>                
                <span class="text-sm">Messages</span>
                <span class=" md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-green-600 bg-green-200 rounded-full">2 New</span>
            </a>
        </li> -->
    </ul>
</div>
<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"
[ngClass]="{'': !isOpen, 'hidden': isOpen}"
></div>
