<div class="min-h-screen bg-blue-400 flex justify-center items-center">
  <div class="absolute w-60 h-60 rounded-xl bg-blue-300 -top-5 -left-16 z-0 transform rotate-45 hidden md:block"></div>
  <div class="absolute w-48 h-48 rounded-xl bg-blue-300 bottom-8 right-10 transform rotate-12 hidden md:block"></div>
  <div class="py-12 px-12 bg-white rounded-2xl shadow-xl z-20">

    <div>
      <h1 class="text-3xl font-bold text-center mb-4 cursor-pointer">Iniciar sesion</h1>
      <p class="w-80 text-center text-sm mb-8 font-semibold text-gray-700 tracking-wide cursor-pointer">Ingrese sus
        datos</p>
    </div>
    <div class="space-y-4">
      <input [(ngModel)]="email" type="text" placeholder="Correo electronico"
        class="block text-sm py-3 px-4 rounded-lg w-full border outline-blue-500" style="letter-spacing: 0.1em;" />
      <input [(ngModel)]="password" type="password" placeholder="Contraseña"
        class="block text-sm text-black py-3 px-4 rounded-lg w-full border outline-blue-500"
        style="letter-spacing: 0.1em;" />
    </div>
    <div class="text-center mt-6">
      <button (click)="login()" type="submit"
        class="w-full py-2 text-xl text-white bg-blue-400 rounded-lg hover:bg-blue-500 transition-all">Ingresar
      </button>
      <p class="mt-4 text-start text-sm">¿No tenés cuenta?
        <a routerLink="/register">
          <span class="cursor-pointer underline"> Registrarme</span>
        </a>
      </p>
    </div>
    
    <div *ngIf="showModal">
      <app-modal [messageModal]="messageModal"></app-modal>
    </div>
    

    <div class="w-40 h-40 absolute bg-blue-300 rounded-full top-0 right-12 hidden md:block"></div>
    <div class="w-20 h-40 absolute bg-blue-300 rounded-full bottom-20 left-10 transform rotate-45 hidden md:block"></div>
    </div>
  </div>