<div class="grid">
    <div class="p-4 flex">
        <h1 class="text-3xl">
            Editar espacio
        </h1>
    </div>
    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
        <div class="flex justify-center mb-6">
            <form class="w-[30%]"
                (ngSubmit)="updateSpace($event)"
             >
            <div class="space-y-4">
              <input 
                [(ngModel)]="space.space_name" 
                name="name" 
                type="text" 
                placeholder="Nombre" 
                class="block text-sm py-3 px-4 rounded-lg w-full border outline-blue-500" 
                style="letter-spacing: 0.1em;" 
                value={{space.space_name}}
              />
              <input 
                [(ngModel)]="space.space_capacity"
                name="capacity" 
                type="number" 
                placeholder="capacidad" 
                class="block text-sm py-3 px-4 rounded-lg w-full border outline-blue-500" 
                style="letter-spacing: 0.1em;" 
                value="{{space.space_capacity}}"
                />
                <input 
                [(ngModel)]="space.space_avail_from"
                name="space_from" 
                type="date" 
                placeholder="capacidad" 
                class="block text-sm py-3 px-4 rounded-lg w-full border outline-blue-500" 
                style="letter-spacing: 0.1em;" 
                value="{{space.space_avail_from}}"
                />
                <input 
                [(ngModel)]="space.to"
                name="space_avail_to" 
                type="date" 
                placeholder="capacidad" 
                class="block text-sm py-3 px-4 rounded-lg w-full border outline-blue-500" 
                style="letter-spacing: 0.1em;" 
                value="{{space.space_avail_to}}"
                
            />
            </div>
            
            <div class="text-center mt-6">
              <button 
                type="submit" 
                class="w-full py-2 text-xl text-white bg-blue-400 rounded-lg hover:bg-blue-500 transition-all"
                >
                Modificar
              </button>
            </div>
            
          </form>
        </div>
    </div>
</div>